#  Sesi贸n 2.1: Acceso y Lectura de Datos en Python

###  Objetivos de aprendizaje
- Comprender c贸mo acceder a datos desde m煤ltiples fuentes.
- Leer datos en formatos estructurados (CSV, Excel, JSON) y semiestructurados (APIs, SQL).
- Aplicar limpieza b谩sica: nombres de columnas, tipos de datos, valores faltantes.

## 1锔 Introducci贸n a pandas y lectura de archivos CSV

In [3]:
import pandas as pd

# Leer CSV desde URL
url_csv = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv'
df_csv = pd.read_csv(url_csv)
df_csv.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Hemos cargado un dataset com煤n llamado `tips` que contiene informaci贸n sobre propinas en un restaurante. Usamos `pd.read_csv()` para leerlo desde una URL directamente.

### ****Tarea Adicional para el Estudiante (Compartir C贸digo y Criterios):****

*   **Lectura de Otro Dataset:** Utiliza `pd.read_csv()` para cargar otro dataset, por ejemplo, el dataset `iris` o `titanic` (puedes buscar sus URLs en repositorios como Kaggle o directamente en Seaborn).
驴Qu茅 par谩metros adicionales de `pd.read_csv()` crees que podr铆an ser 煤tiles en diferentes escenarios (ej. `sep`, `header`, `encoding`)?

In [23]:
#EJERCICIO 2
# como ya habiamos importado anteriormente pandas ya no es necesario
# Importamos la informacion de los datos de taxis
# Leer CSV desde URL
url_csv = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/taxis.csv'
df_csv = pd.read_csv(url_csv)
df_csv.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

## 2锔 Exploraci贸n inicial del dataset

EJER 1

In [6]:
# Mostrar las primeras 5 filas
print("Primeras 5 filas del dataset:")
print(df_csv.head())

Primeras 5 filas del dataset:
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

EJER 2

In [24]:
# Mostrar las primeras 5 filas
print("Primeras 5 filas del dataset:")
print(df_csv.head())

Primeras 5 filas del dataset:
                pickup              dropoff  passengers  distance  fare   tip  \
0  2019-03-23 20:21:09  2019-03-23 20:27:24           1      1.60   7.0  2.15
1  2019-03-04 16:11:55  2019-03-04 16:19:00           1      0.79   5.0  0.00
2  2019-03-27 17:53:01  2019-03-27 18:00:25           1      1.37   7.5  2.36
3  2019-03-10 01:23:59  2019-03-10 01:49:51           1      7.70  27.0  6.15
4  2019-03-30 13:27:42  2019-03-30 13:37:14           3      2.16   9.0  1.10

   tolls  total   color      payment            pickup_zone  \
0    0.0  12.95  yellow  credit card        Lenox Hill West
1    0.0   9.30  yellow         cash  Upper West Side South
2    0.0  14.16  yellow  credit card          Alphabet City
3    0.0  36.95  yellow  credit card              Hudson Sq
4    0.0  13.40  yellow  credit card           Midtown East

            dropoff_zone pickup_borough dropoff_borough
0    UN/Turtle Bay South      Manhattan       Manhattan
1  Upper West Side South      Manhattan       Manhattan
2           West Village      Manhattan       Manhattan
3         Yorkville West      Manhattan       Manhattan
4         Yorkville West      Manhattan       Manhattan

Ejer 1

In [7]:
# Mostrar informaci贸n general (tipos de datos, nulos)
print("\nInformaci贸n general del dataset:")
df_csv.info()

Informaci贸n general del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

Ejer 2

In [25]:
# Mostrar informaci贸n general (tipos de datos, nulos)
print("\nInformaci贸n general del dataset:")
df_csv.info()

Informaci贸n general del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   object
 1   dropoff          6433 non-null   object
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: float64(5), int64(1), object(8)
memory usage: 703.7+ KB

In [26]:
# Mostrar estad铆sticas descriptivas
print("\nEstad铆sticas descriptivas:")
df_csv.describe()

Estad铆sticas descriptivas:

,passengers,distance,fare,tip,tolls,total
count,6433.000000,6433.000000,6433.000000,6433.00000,6433.000000,6433.000000
mean,1.539251,3.024617,13.091073,1.97922,0.325273,18.517794
std,1.203768,3.827867,11.551804,2.44856,1.415267,13.815570
min,0.000000,0.000000,1.000000,0.00000,0.000000,1.300000
25%,1.000000,0.980000,6.500000,0.00000,0.000000,10.800000
50%,1.000000,1.640000,9.500000,1.70000,0.000000,14.160000
75%,2.000000,3.210000,15.000000,2.80000,0.000000,20.300000
max,6.000000,36.700000,150.000000,33.20000,24.020000,174.820000

In [27]:
# Contar valores nulos por columna
print("\nConteo de valores nulos por columna:")
df_csv.isnull().sum()

Conteo de valores nulos por columna:

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

**Explicaci贸n:**
Hemos utilizado `head()` para ver las primeras filas, `info()` para entender los tipos de datos y la presencia de nulos, `describe()` para estad铆sticas b谩sicas y `isnull().sum()` para cuantificar los nulos.


### **Tarea Adicional para el Estudiante (Compartir C贸digo y Criterios):**

*   **Exploraci贸n Personalizada:** Elige una columna del dataset `df_tips` que te parezca interesante (ej. `total_bill`, `tip`, `day`) y realiza una exploraci贸n m谩s profunda. Por ejemplo:
    *   Si es num茅rica: obt茅n la media, mediana, desviaci贸n est谩ndar manualmente si no usaste `describe()`.
    *   Si es categ贸rica: obt茅n el conteo de valores 煤nicos y la frecuencia de cada categor铆a.
*   驴Qu茅 m茅trica o informaci贸n adicional crees que ser铆a valiosa obtener de la columna que elegiste, y por qu茅?

EJercicio 1

In [9]:
#EXPLORACION DE VARIABLE CATEGORICA
#Permite saber cuales son los dias mas concurridos dentro del restaurante


# Conteo de valores 煤nicos y frecuencia
frecuencia_dias = df_csv['day'].value_counts()
print("Frecuencia por d铆a:\n", frecuencia_dias)

# Porcentaje de visitas por d铆a
porcentaje_dias = df_csv['day'].value_counts(normalize=True) * 100
print("\nPorcentaje por d铆a:\n", porcentaje_dias)

Frecuencia por d铆a:
 day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

Porcentaje por d铆a:
 day
Sat     35.655738
Sun     31.147541
Thur    25.409836
Fri      7.786885
Name: proportion, dtype: float64

Ejercicio 1

In [10]:
#Porcentaje de propina respecto al monto total
# Creamos una nueva columna de valor relativo
df_csv['tip_pct'] = (df_csv['tip'] / df_csv['total_bill']) * 100

print("Estad铆sticas del porcentaje de propina:")
print(df_csv['tip_pct'].describe())

Estad铆sticas del porcentaje de propina:
count    244.000000
mean      16.080258
std        6.107220
min        3.563814
25%       12.912736
50%       15.476977
75%       19.147549
max       71.034483
Name: tip_pct, dtype: float64

Ejercicio 2

In [28]:
# M茅tricas manuales para la propina
media_tip = df_csv['tip'].mean()
mediana_tip = df_csv['tip'].median()
std_tip = df_csv['tip'].std()

print(f"Media de propina: {media_tip:.2f}")
print(f"Mediana de propina: {mediana_tip:.2f}")
print(f"Desviaci贸n Est谩ndar: {std_tip:.2f}")

Media de propina: 1.98
Mediana de propina: 1.70
Desviaci贸n Est谩ndar: 2.45

## 3锔 Limpieza de datos: nombres, tipos, valores nulos

In [29]:
# Renombrar columnas: min煤sculas y sin espacios
df_csv.columns = [col.lower().strip() for col in df_csv.columns]
print("\nColumnas renombradas:", df_csv.columns)

Columnas renombradas: Index(['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls',
       'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone',
       'pickup_borough', 'dropoff_borough'],
      dtype='object')

In [30]:
# Convertir tipo de dato de la columna 'tip' a float
df_csv['tip'] = df_csv['tip'].astype(float)
print("\nTipo de dato de 'tip' actualizado:", df_csv['tip'].dtype)

Tipo de dato de 'tip' actualizado: float64

In [ ]:
# Eliminar filas con valores nulos (si los hubiera identificado antes)
print(f"\nFilas antes de dropna: {len(df_csv)}")

df_csv.dropna(inplace=True)
print("\nDataset despu茅s de limpieza b谩sica:")
df_csv.head()

Filas antes de dropna: 244

Dataset despu茅s de limpieza b谩sica:

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

**Explicaci贸n:**
Hemos limpiado los nombres de las columnas para facilitar su uso y asegurado que la columna `tip` sea un n煤mero flotante. Tambi茅n eliminamos filas con datos faltantes para evitar problemas en an谩lisis posteriores.

### **Tarea Adicional para el Estudiante (Compartir C贸digo y Criterios):**

*   **Manejo de Nulos Alternativo:** En lugar de `dropna()`, 驴c贸mo podr铆as haber manejado los valores nulos de la columna `tip` si hubieran sido muchos? (Pista: piensa en imputaci贸n de valores). Escribe el c贸digo para imputar la media de la columna `tip` a los valores nulos.
*   驴Cu谩ndo preferir铆as imputar valores en lugar de eliminarlos, y viceversa?

In [35]:
#AGREGAMOS EL VALOR DE NO DEFINIDO PARA ACEPTAR QUE NO TENEMOS ESA INFORMACION Y MANEJARLA COMO UNA NUEVA CATEGORIA QUE PUEDA SER ANALIZADA SIN AFECTAR A LOS DEMAS DATOS
# Rellenar nulos
df_csv['payment'] = df_csv['payment'].fillna('No definido')

# Contar cu谩ntas filas tienen exactamente ese texto
conteo_no_definido = (df_csv['payment'] == 'No definido').sum()

print(f"Total de registros marcados como 'No definido': {conteo_no_definido}")

Total de registros marcados como 'No definido': 0

## 4锔 Lectura de archivos Excel

Pandas puede leer directamente archivos Excel utilizando el motor `openpyxl`. Esto es muy 煤til para datos que provienen de hojas de c谩lculo.

In [47]:
# Cargar un archivo Excel desde una URL (requiere la librer铆a openpyxl)
try:
    df_customers = pd.read_excel(
        "https://github.com/JUANCITOPENA/BASE_DATOS_PRESTAMOS_SIMULACRO/raw/40e6197077b2787a4d008f549723a11843faa72b/BASE%20DE%20DATOS%20DE%20PRESTAMOS%20BANCARIOS.xlsx",
        engine="openpyxl"
    )
    print("Archivo Excel cargado exitosamente.")
    print("Primeras 5 filas del archivo Excel:")
    print(df_customers.head())


except Exception as e:
    print(f"Error al cargar el archivo Excel: {e}")
    print("Aseg煤rate de tener instalada la librer铆a 'openpyxl' (pip install openpyxl)")

Archivo Excel cargado exitosamente.
Primeras 5 filas del archivo Excel:
   ID_Prestamo  ID_Cliente Nombre_Cliente Apellido_Cliente Lugar_Trabajo  \
0            1         180       Fernando         Gonz谩lez     Empresa H
1            2          19         Isabel          Mendoza     Empresa G
2            3         114        Roberto            G贸mez     Empresa G
3            4         186          Luc铆a          Mendoza     Empresa M
4            5          76      Alejandra           Torres     Empresa T

                     Ciudad       Region  Latitud  Longitud  Monto_Prestamo  \
0       Salvale贸n de Hig眉ey         Este  18.6150  -68.7076        27586.48
1     Concepci贸n de La Vega  Cibao Norte  19.1199  -70.6483        10333.77
2               Monte Plata         Este  18.8076  -69.7844        33729.90
3    San Juan de la Maguana          Sur  18.8061  -71.2296         6322.18
4  San Francisco de Macor铆s  Cibao Norte  19.3012  -70.2537        24523.26

   ...  Valor_Garantia Fecha_Inicio  Fecha_Termino Monto_Pagado  \
0  ...           75000   2023-03-09     2024-02-09      9542.08
1  ...          200000   2023-11-27     2024-11-27     11851.80
2  ...          180000   2023-12-13     2024-11-13     30454.01
3  ...          120000   2020-12-09     2021-11-09      2204.65
4  ...           80000   2021-07-04     2023-02-04     25749.42

  Saldo_Pendiente  Estado_Pago  Tiempo en Meses del prest  \
0        18044.40     Atrasado                         15
1            0.00       Pagado                          7
2         3275.89    Pendiente                          6
3         4117.53     Atrasado                         42
4            0.00       Pagado                         35

        Tiempo_del_Prestamo  Tiene_Atrasos       Estado
0   1 a帽o, 3 meses, 23 d铆as             S铆     En Legal
1     1 a帽o, 7 meses, 0 d铆a             No  Normal (OK)
2   1 a帽o, 6 meses, 14 d铆as             No  Normal (OK)
3   4 a帽os, 6 meses, 3 d铆as             S铆     En Legal
4  3 a帽os, 11 meses, 6 d铆as             No  Normal (OK)

[5 rows x 22 columns]

In [48]:
df_customers.head()

,ID_Prestamo,ID_Cliente,Nombre_Cliente,Apellido_Cliente,Lugar_Trabajo,Ciudad,Region,Latitud,Longitud,Monto_Prestamo,...,Valor_Garantia,Fecha_Inicio,Fecha_Termino,Monto_Pagado,Saldo_Pendiente,Estado_Pago,Tiempo en Meses del prest,Tiempo_del_Prestamo,Tiene_Atrasos,Estado
0,1,180,Fernando,Gonz谩lez,Empresa H,Salvale贸n de Hig眉ey,Este,18.6150,-68.7076,27586.48,...,75000,2023-03-09,2024-02-09,9542.08,18044.40,Atrasado,15,"1 a帽o, 3 meses, 23 d铆as",S铆,En Legal
1,2,19,Isabel,Mendoza,Empresa G,Concepci贸n de La Vega,Cibao Norte,19.1199,-70.6483,10333.77,...,200000,2023-11-27,2024-11-27,11851.80,0.00,Pagado,7,"1 a帽o, 7 meses, 0 d铆a",No,Normal (OK)
2,3,114,Roberto,G贸mez,Empresa G,Monte Plata,Este,18.8076,-69.7844,33729.90,...,180000,2023-12-13,2024-11-13,30454.01,3275.89,Pendiente,6,"1 a帽o, 6 meses, 14 d铆as",No,Normal (OK)
3,4,186,Luc铆a,Mendoza,Empresa M,San Juan de la Maguana,Sur,18.8061,-71.2296,6322.18,...,120000,2020-12-09,2021-11-09,2204.65,4117.53,Atrasado,42,"4 a帽os, 6 meses, 3 d铆as",S铆,En Legal
4,5,76,Alejandra,Torres,Empresa T,San Francisco de Macor铆s,Cibao Norte,19.3012,-70.2537,24523.26,...,80000,2021-07-04,2023-02-04,25749.42,0.00,Pagado,35,"3 a帽os, 11 meses, 6 d铆as",No,Normal (OK)

### **Tarea Adicional para el Estudiante (Compartir C贸digo y Criterios):**


*   **Inspecci贸n del Excel:** Observa las columnas y los tipos de datos del `df_customers` cargado. Si alguna columna no tiene el tipo de dato correcto, o si hay valores faltantes, aplica una correcci贸n b谩sica (ej. renombrar una columna, convertir un tipo, o eliminar filas nulas si es necesario).

*    驴Qu茅 informaci贸n adicional te gustar铆a poder extraer o transformar de este archivo Excel, y qu茅 funci贸n de Pandas podr铆as usar para ello?

*    **Limpieza b谩sica:**

        Normalizar columnas con lower() y strip().
        Convertir fechas (registered) a tipo datetime.
        Manejar valores nulos (dropna() o fillna()).

*    **An谩lisis y agregaciones:**

        Agrupar por edad, pa铆s, empleo o estado civil.
        Calcular m茅tricas como promedio de gasto (spent) o n煤mero de 贸rdenes (orders).

*    **Visualizaci贸n:**

        Usar seaborn para gr谩ficos de distribuci贸n por edad y gasto.
        Visualizar correlaciones mediante pairplot o scatterplot.

In [56]:
# Tu c贸digo de inspecci贸n/correcci贸n del Excel y comentarios aqu铆
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_prestamo                2000 non-null   int64
 1   id_cliente                 2000 non-null   int64
 2   nombre_cliente             2000 non-null   object
 3   apellido_cliente           2000 non-null   object
 4   lugar_trabajo              2000 non-null   object
 5   ciudad                     2000 non-null   object
 6   region                     2000 non-null   object
 7   latitud                    2000 non-null   float64
 8   longitud                   2000 non-null   float64
 9   monto_prestamo             2000 non-null   float64
 10  tasa_interes_anual         2000 non-null   float64
 11  garantia                   2000 non-null   object
 12  valor_garantia             2000 non-null   int64
 13  fecha_inicio               2000 non-null   datetime64[ns]
 14  fecha_termino              2000 non-null   datetime64[ns]
 15  monto_pagado               2000 non-null   float64
 16  saldo_pendiente            2000 non-null   float64
 17  estado_pago                2000 non-null   object
 18  tiempo en meses del prest  2000 non-null   int64
 19  tiempo_del_prestamo        2000 non-null   object
 20  tiene_atrasos              2000 non-null   object
 21  estado                     2000 non-null   object
dtypes: datetime64[ns](2), float64(6), int64(4), object(10)
memory usage: 343.9+ KB

In [52]:
df_customers.columns = [col.lower().strip() for col in df_customers.columns]

In [58]:
# Convertir usando los nuevos nombres en min煤sculas
df_customers['fecha_inicio'] = pd.to_datetime(df_customers['fecha_inicio'])
df_customers['fecha_termino'] = pd.to_datetime(df_customers['fecha_termino'])

print("Conversi贸n exitosa. Formato de fecha confirmado.")

Conversi贸n exitosa. Formato de fecha confirmado.

## 5锔 Lectura y manipulaci贸n de datos JSON

Pandas puede leer directamente datos JSON desde una URL de API. La columna `address` es un ejemplo de estructura anidada que podr铆amos necesitar "aplanar" o procesar.

In [59]:
# API de ejemplo: Usuarios de JSONPlaceholder
try:
    json_url = 'https://jsonplaceholder.typicode.com/users'
    df_json = pd.read_json(json_url)
    print("Datos JSON de usuarios cargados exitosamente.")
    print("Columnas relevantes (name, email, address):")
    # Seleccionar y mostrar algunas columnas clave
    print(df_json[['name', 'email', 'address']].head())

    # Explorar la estructura de la columna 'address'
    print("\nEstructura de la columna 'address':")
    print(df_json['address'].iloc[0]) # Muestra el primer registro de la columna address

except Exception as e:
    print(f"Error al cargar datos JSON desde la API: {e}")

Datos JSON de usuarios cargados exitosamente.
Columnas relevantes (name, email, address):
               name                      email  \
0     Leanne Graham          Sincere@april.biz
1      Ervin Howell          Shanna@melissa.tv
2  Clementine Bauch         Nathan@yesenia.net
3  Patricia Lebsack  Julianne.OConner@kory.org
4  Chelsey Dietrich   Lucio_Hettinger@annie.ca

                                             address
0  {'street': 'Kulas Light', 'suite': 'Apt. 556',...
1  {'street': 'Victor Plains', 'suite': 'Suite 87...
2  {'street': 'Douglas Extension', 'suite': 'Suit...
3  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...
4  {'street': 'Skiles Walks', 'suite': 'Suite 351...

Estructura de la columna 'address':
{'street': 'Kulas Light', 'suite': 'Apt. 556', 'city': 'Gwenborough', 'zipcode': '92998-3874', 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}

**Tarea Adicional para el Estudiante (Compartir C贸digo y Criterios):**

*   **Aplanar la Columna 'address':** Crea nuevas columnas para la `calle` y la `ciudad` extray茅ndolas del diccionario de la columna `address`. Utiliza el m茅todo `.apply()` con una funci贸n lambda o `.str.get()` si la estructura es consistente.
*   驴Qu茅 otras formas podr铆as usar para obtener informaci贸n de estructuras de datos anidadas en Python (m谩s all谩 de `apply` con lambda)? Menciona una t茅cnica o librer铆a.

In [60]:
# Tu c贸digo para aplanar 'address' y comentarios aqu铆
# Extraer 'street' y 'city' de la columna 'address'
df_json['calle'] = df_json['address'].apply(lambda x: x['street'])
df_json['ciudad'] = df_json['address'].apply(lambda x: x['city'])

# Mostrar el resultado para verificar las nuevas columnas
print("Dataset con columnas aplanadas:")
print(df_json[['name', 'calle', 'ciudad']].head())

Dataset con columnas aplanadas:
               name              calle         ciudad
0     Leanne Graham        Kulas Light    Gwenborough
1      Ervin Howell      Victor Plains    Wisokyburgh
2  Clementine Bauch  Douglas Extension  McKenziehaven
3  Patricia Lebsack        Hoeger Mall    South Elvis
4  Chelsey Dietrich       Skiles Walks     Roscoeview

## 6锔 Conexi贸n y consulta b谩sica en SQLite

Hemos usado la librer铆a `sqlite3` para crear una base de datos en memoria, definir una tabla, insertar datos y realizar una consulta b谩sica.

In [61]:
import sqlite3

# Conectar a una base de datos en memoria (no se guarda al cerrar)
conn = sqlite3.connect(':memory:')
print("Conexi贸n a base de datos SQLite en memoria establecida.")

# Crear una tabla simple
cursor = conn.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS empleados (id INTEGER PRIMARY KEY, nombre TEXT, puesto TEXT)")
print("Tabla 'empleados' creada.")

# Insertar algunos datos
empleados_data = [
    ('Alice', 'Data Scientist'),
    ('Bob', 'Data Engineer'),
    ('Charlie', 'Analista BI')
]
cursor.executemany("INSERT INTO empleados (nombre, puesto) VALUES (?, ?)", empleados_data)
conn.commit() # Guardar los cambios
print("Datos insertados en la tabla 'empleados'.")

# Realizar una consulta
print("\nConsulta de todos los empleados:")
cursor.execute("SELECT nombre, puesto FROM empleados")
# Fetchall recupera todos los resultados de la consulta
resultados_sqlite = cursor.fetchall()
print(resultados_sqlite)

# Cerrar la conexi贸n
conn.close()
print("\nConexi贸n a SQLite cerrada.")

Conexi贸n a base de datos SQLite en memoria establecida.
Tabla 'empleados' creada.
Datos insertados en la tabla 'empleados'.

Consulta de todos los empleados:
[('Alice', 'Data Scientist'), ('Bob', 'Data Engineer'), ('Charlie', 'Analista BI')]

Conexi贸n a SQLite cerrada.

**Tarea Adicional para el Estudiante (Compartir C贸digo y Criterios):**

*   **Consulta Filtrada:** Modifica la consulta SQL para obtener solo los empleados cuyo `puesto` sea 'Data Scientist'. Luego, usa `pd.read_sql_query()` para leer el resultado directamente en un DataFrame de Pandas.
*   驴Cu谩ndo preferir铆as usar `sqlite3` directamente vs. usar `pd.read_sql_query()`? 驴Qu茅 ventajas ves en cada enfoque?

In [63]:

# Conectar a una base de datos en memoria (no se guarda al cerrar)
conn = sqlite3.connect(':memory:')
print("Conexi贸n a base de datos SQLite en memoria establecida.")

# Crear una tabla simple
cursor = conn.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS empleados (id INTEGER PRIMARY KEY, nombre TEXT, puesto TEXT)")
print("Tabla 'empleados' creada.")

# Insertar algunos datos
empleados_data = [
    ('Alice', 'Data Scientist'),
    ('Bob', 'Data Engineer'),
    ('Charlie', 'Analista BI')
]
cursor.executemany("INSERT INTO empleados (nombre, puesto) VALUES (?, ?)", empleados_data)
conn.commit() # Guardar los cambios
print("Datos insertados en la tabla 'empleados'.")

# Realizar una consulta
print("\nConsulta de todos los empleados:")
cursor = conn.cursor()
cursor.execute("SELECT nombre, puesto FROM empleados WHERE puesto='Data Scientist'")
# Fetchall recupera todos los resultados de la consulta
resultados_sqlite = cursor.fetchall()
print(resultados_sqlite)

# Cerrar la conexi贸n
conn.close()
print("\nConexi贸n a SQLite cerrada.")

Conexi贸n a base de datos SQLite en memoria establecida.
Tabla 'empleados' creada.
Datos insertados en la tabla 'empleados'.

Consulta de todos los empleados:
[('Alice', 'Data Scientist')]

Conexi贸n a SQLite cerrada.

In [ ]:
# Conectar a una base de datos en memoria (no se guarda al cerrar)
conn = sqlite3.connect(':memory:')
print("Conexi贸n a base de datos SQLite en memoria establecida.")
df_csv.to_sql('tips', conn, index=False)
consulta = pd.read_sql_query('SELECT sex, AVG(total_bill) as avg_bill FROM tips GROUP BY sex', conn)
print("Tabla 'empleados' creada.")
consulta

Conexi贸n a base de datos SQLite en memoria establecida.
Tabla 'empleados' creada.

      sex   avg_bill
0  Female  18.056897
1    Male  20.744076

 **Explicaci贸n l铆nea por l铆nea:**

   ** conn = sqlite3.connect(':memory:')**
    
>   - 驴Qu茅 hace? Crea una base de datos SQLite temporal en memoria RAM (no se guarda en disco).

>   - 驴Por qu茅 usar :memory:? Es 煤til para pruebas, demostraciones o procesamiento r谩pido sin necesidad de un archivo f铆sico.

>    - Devuelve un objeto Connection llamado conn, que se usar谩 para interactuar con la base de datos.

   ** df_csv.to_sql('tips', conn, index=False)**
        
>   -    驴Qu茅 hace?  Toma el DataFrame df_csv (por ejemplo, tips.csv) y lo convierte en una tabla llamada tips dentro de la base de datos creada.
>   -    conn: es la conexi贸n que creamos previamente.
>   -    'tips': es el nombre de la tabla SQL que se crear谩.
>   -    index=False: evita que se agregue la columna de 铆ndice de pandas a la tabla SQL.

   ** consulta = pd.read_sql_query('SELECT sex, AVG(total_bill) as avg_bill FROM tips GROUP BY sex', conn)**

>   -     驴Qu茅 hace? Ejecuta una consulta SQL sobre la base SQLite y devuelve el resultado como un nuevo DataFrame de pandas.
>   -     SELECT sex, AVG(total_bill) as avg_bill: selecciona la columna sex y calcula el promedio de la columna total_bill, renombr谩ndola como avg_bill.
>   -     FROM tips: indica que la consulta se hace sobre la tabla tips.
>   -     GROUP BY sex: agrupa los registros por g茅nero (sex), por lo que obtendr谩s una fila por cada g茅nero (Male, Female, etc.) con su respectivo promedio de cuenta.

### **Tarea Adicional para el Estudiante (Compartir C贸digo y Criterios):**

- Leer un archivo JSON desde una URL.
- Crear una tabla SQLite con los datos.
- Consultar promedio de alguna columna agrupada por una categor铆a textual.

In [ ]:
# Tu c贸digo y comentarios aqu铆